body {
  font-family: monospace;
}

.table {
  td {
    vertical-align: middle;
  }
}

.status_bar {
  position: relative;
  height: 100px;
  width: 50px;

  > div {
    height: 50px;
    position: absolute;
    width: 50px;
  }

  .Above {
    background: green;
    bottom: 50px;
  }

  .Below {
    background: red;
    top: 50px;
  }
}
