body {
  font-family: monospace;
}

.table {
  td {
    vertical-align: middle;
  }
}

.percent-change {
  color: red;

  &.positive {
    color: green;
  }
}

.status_bar {
  position: relative;
  height: 100px;
  width: 50px;

  > div {
    height: 50px;
    position: absolute;
    width: 50px;
  }

  .Above {
    background: green;
    bottom: 49px;
  }

  .Below {
    background: red;
    top: 51px;
  }

  .Inside {
    top: 49px !important;
    height: 2px !important;
    background: darkgrey !important;
    opacity: 1 !important;
  }
}
